<div class="example-header">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
</div>

<div class="example-container mat-elevation-z8">

  <mat-table [dataSource]="dataSource" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="sito">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Sito </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <a href="http://{{row.url}}" target="_blank">{{row.url}}</a>
      </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="dominio">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Dominio </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <span *ngIf="row.domain?.name" class="custom-label" [style.background-color]="row.domain.label">{{row.domain.name}}</span>
      </mat-cell>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="hosting">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Hosting </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <span *ngIf="row.hosting?.name" class="custom-label" [style.background-color]="row.hosting.label">{{row.hosting.name}}</span>
      </mat-cell>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="data_rinnovo">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Data di rinnovo </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.renewal}} </mat-cell>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="prezzo">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Prezzo </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.fee}} </mat-cell>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="note">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Note </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.note}} </mat-cell>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="pagato">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Pagato </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.pay}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
        <mat-cell *matCellDef="let row">
          <div class="button-row">
            <a href="" routerLink="{{row.id}}">
              <mat-icon aria-label="Example icon-button with a heart icon">edit</mat-icon>
            </a>
            <a href="" (click)="deleteDomain(row, $event)">
              <mat-icon aria-label="Example icon-button with a heart icon">delete</mat-icon>
            </a>
          </div>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>



<button mat-raised-button (click)="openDialog()">Nuovo dominio</button>
